@import url(https://fonts.bunny.net/css?family=dm-sans:400,500,600|playfair-display:900);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  @apply flex flex-col bg-primary;
}

#root {
  flex: 1;
}
